.mat-card-simples{
  max-width: 300px;
  background-color: aliceblue;
  margin-top: 10px;
}

.card-content{
  color: aliceblue;
}
.card-insercao-usuario{
  max-width: 650px;
  background-color: #424242;
  margin-top: 10px;
}

.mat-form-simples {
  margin-left:5px;
}

